/* NavBar Start!! */
.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  font-size: 20px;
  cursor: pointer;
}
.login-button .login-text {
  margin-left: 5px;
}

.nav-logo,
.menu-area {
  display: flex;
  justify-content: center;
}
.menu-list {
  display: flex;
  list-style-type: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.menu-list li {
  padding: 10px;
}
.search-box {
  border-bottom: 1px solid #000;
  padding: 10px;
  position: absolute;
  right: 20px;
}
.search-box input {
  border: none;
  margin-left: 5px;
}

.search-box input:focus {
  outline: none;
}

/* Product Card */
.product-card {
  border: none;
  margin: 10px;
}
.product-card img {
  width: 310px;
  height: auto;
}
.product-card:hover {
  transform: scale(1.1); /* 크기를 키우는 함수 */
  z-index: 1;
}

/* Login */
.login-area {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.form-label {
  display: flex;
  margin-bottom: 0.5em;
  font-weight: bold;
}
.login-form input {
  width: 600px;
  height: 45px;
  border-radius: 10px;
  padding: 10px;
}
.login-form input:focus {
  border: none;
  outline: 2px solid red;
}
.login-btn {
  width: 80px;
  height: 50px;
  color: white;
  background-color: rgb(201, 15, 15);
  margin-top: 20px;
  border: none;
  border-radius: 10px;
}

/* Product detail */
.product-img {
  display: flex;
  justify-content: flex-end;
}
