/* NavBar */
.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  font-size: 20px;
  cursor: pointer;
}
.login-button .login-text {
  margin-left: 5px;
}

.nav-logo,
.menu-area {
  display: flex;
  justify-content: center;
}
.menu {
  display: flex;
  list-style-type: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.menu li {
  padding: 10px;
}
.search-box {
  border-bottom: 1px solid #000;
  padding: 10px;
  position: absolute;
  right: 20px;
}
.search-box input {
  border: none;
  margin-left: 5px;
}

.search-box input:focus {
  outline: none;
}

.hide {
  visibility: hidden;
}
@media screen and (max-width: 63rem) {
  .hide {
    visibility: visible;
  }
  .menu {
    display: none;
  }
  .search-box {
    display: none;
  }
}
.burger-menu {
  padding-left: 15px;
}
.side-menu {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0%;
  background-color: burlywood;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 2;
}
.side-menu-list button {
  margin: 5px;
  border: none;
  background: none;
  width: 120px;
}
.side-menu .closebtn {
  position: absolute;
  top: 0%;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  background: none;
}
.side-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side-menu-list button:hover {
  background-color: beige;
  border-radius: 3px;
}

/* Product Card */
.product-card {
  border: none;
  margin: 10px;
}
.product-card img {
  width: 310px;
  height: auto;
}
.product-card:hover {
  transform: scale(1.1); /* 크기를 키우는 함수 */
  z-index: 1;
}

/* Login */
.login-area {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.form-label {
  display: flex;
  margin-bottom: 0.5em;
  font-weight: bold;
}
.login-form input {
  width: 600px;
  height: 45px;
  border-radius: 10px;
  padding: 10px;
}
.login-form input:focus {
  border: none;
  outline: 2px solid red;
}
.login-btn {
  width: 80px;
  height: 50px;
  color: white;
  background-color: rgb(201, 15, 15);
  margin-top: 20px;
  border: none;
  border-radius: 10px;
}

/* Product detail */
.product-img {
  display: flex;
  justify-content: flex-end;
}
.product-info {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 20px;
}
.product-info div {
  margin-bottom: 10px;
}
.product-select {
  display: flex;
  width: 90px;
  padding: 5px 20px;
  height: 35px;
  margin-bottom: 30px;
  border-radius: 4px;
  outline: 0 none;
}
.add-btn {
  width: 250px;
  background: #222;
  padding: 13px 25px;
  min-height: 48px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #fff;
}
